

<div class="container">

  This is a game!

    <h1><%= @product.name %></h1>

  <img src="<%= @product.photo %>" class="photo">

  <h1>$<%= @product.price %></h1>

  <% if @product.descriptions %>
    <ul>
      <% @product.descriptions.each do |description| %>
        <li><%= description.content %></li>
      <% end %>
    </ul>
  <% end %>



  <%= @game.player1 %>

  <%= @game.player2 %>


</div>
