
<div class="container">


  <h1><%= @match.product.name %></h1>

  <img src="<%= @match.product.photo %>" class="photo">

  <p><%=@match.game.player1 %>'s Guess: $<%= @match.player1_guess %></p>

  <p><%=@match.game.player2 %>'s Guess: $<%= @match.player2_guess %></p>

  <p><b>Actual Price: <u>$<%= @match.product.price %></u></b></p>

  <h1><%= @match.winner_message %></h1>

  <u>Game Score:</u><br>
  <%= "#{@match.game.player1}: #{@match.game.player1_score.to_s}" %><br>
  <%= "#{@match.game.player2}: #{@match.game.player2_score.to_s}" %>

  <br><br>

  <a href="/games/<%= @game.id %>/matches/new">Click to Continue --></a>


</div>
