
<div class="container">

  <p><%= @match.player1_guess %></p>
  <p><%= @match.player2_guess %></p>
  <p><%= @match.product.name %></p>
  <p><%= @match.product.price %></p>
  <p><%= @match.winner_message %></p>

  <br><br>

  <a href="/games/<%= @game.id %>/matches/new">Press Here for Next Match --></a>


</div>
